/* You can add global styles to this file, and also import other style files */


.productWrapper h2{
    text-align: center;
}

.searchWrapper{
    padding: 0;
}

.adminHost{
    width: 90%;
}

.removeLink{
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.removeLink:hover{
    text-decoration:none;


}

.toolbarLink{
    color: white !important;
    margin-left: 200px;
}