
<div class="productWrapper row">
  <h2 class="col-sm-12">Products</h2>

  <div class="col-sm-4" *ngFor="let product of products">
      <div class="productTitle">
        <h3>
            <a [title] = "product.name + ' details'">
                {{product.name}}
            </a>
        </h3>
      </div>
      <div>
        <p>
          
        </p>
        <p *ngIf="product.price">
          Price: {{ product.price + " RON" }}
        </p>
    <a [routerLink]="['/products/' + product.id]"> <button >See details </button></a>
    
  </div>
</div>